.card {
    position: relative;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;

    button {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    img {
        max-width: 300px;
    }

    p {
        text-align: center;
    }
}