.header {
    height: 150px;
    background-color: #ccc;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px -15px;
    gap: 1vw;
    background-color: #eee;
    padding-top: 30px;
    min-height: 90vh;
}